.product {
  width: 100%;
  padding: 0 15px;

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    margin-top: 30px;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 500;
    margin-top: 5px;
    line-height: 1.6;
    color: #727272;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.6;
    margin-top: 25px;
  }

  &__buttons {
    display: flex;
    gap: 1px;
  }

  &__price {
    font-weight: 600;
    font-size: 36px;
  }
}


