.footer {
  border-top: 12px double rgba(96, 155, 170, 0.07);

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  &__logo img {
    width: 230px;
  }

  &__title {
    font-size: 1.125rem;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;

    &-item {
      position: relative;
      padding-left: 20px;
      line-height: 1.6;
      transition: 0.35s;

      &:hover {
        transform: scale(1.05);
      }

      & span {
        font-size: 14px;
        color: gray;
      }

      & + & {
        margin-top: 12px;
      }

      &::before {
        content: " ";
        left: -1px;
        top: 5px;
        background: url(./FooterImg/icon-leaf.svg);
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        line-height: 5px;
        border-radius: 50%;
      }
    }
  }

  &__contacts {
    &-list {
      display: flex;
      flex-direction: column;
    }
  }

  &__social {

    // &__list {
    //   display: block;
    // }

    &-item {
      display: inline-block;

      & img {
        display: block;
      }
    }

    &-item + &-item {
      margin-left: 10px;
    }
  }

  &__copyright {
    background: rgba(96, 155, 170, 0.07);
    padding: 0.9375rem 0;
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: gray;
    font-weight: 300;
    text-align: center;
  }
}