.cartridge {
  padding: 50px 30px;
  display: inline-block;

  &__img {
    display: block;
    height: 200px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__title,
  &__price {
    font-weight: 600;
    text-transform: uppercase;
  }

  &__buttons {
    display: flex;
    gap: 1px;
  }
}