.cartridge {
  width: 100%;
  padding: 0 15px;

  &__img {
    width: 100%;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 500;
    margin-top: 5px;
    line-height: 1.6;
    color: #727272;
                      // Можливо реалізувати на JS щоб підганяти кількість рядків під висоту
    overflow: hidden; /* Приховуємо будь-який текст, який виходить за межі блоку */
    text-overflow: ellipsis; /* Додаємо 3 крапки, якщо текст обрізаний */
    white-space: nowrap; /* Забороняємо перенесення тексту на новий рядок */
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.6;
    margin-top: 10px;
    gap: 1px;

    & .button__desc,
    & .button__buy {
      width: 100%;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
  }
}


