.banner { 
  background: rgba(96, 155, 170, 0.07);

  &__container {
    display: flex;
    align-items: center;
    padding: 200px 0 45px;  
  }

  &__info {
    margin-left: calc(8.33333% + 0.9375rem);
    width: calc(50% - 3.875rem);

    &-text {
      font-weight: 500;
      font-size: 20px;
      color: #727272;
    }

    &-title {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 36px;
      line-height: 1.4;
      margin-top: 18px;
      margin-bottom: 85px;

      & span {
        color: #46A358;
      }
    }
  }

  &__button {
    width: fit-content;
  }

  &__photo {
    margin: 0 15px;
    width: calc(41.66667% - 1.875rem);

    &-img {
      transform: scaleX(-1);
      max-width: 500px;
      width: 100%;
    }
  }
}

.cards {
  position: relative;
  padding: 80px 0;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  &__container {
    margin: 0 auto;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 12px;
    color: #46A358;
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    border-right: 1px dashed rgba(221, 222, 223, 0.6);
  }
}

.callback {
  background: rgba(96, 155, 170, 0.07); 
  padding: 60px 0;

  &__container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;

    & span {
      color: #46A358;
      font-weight: 600;
    }
  }
}

.about {
    background: url(./HomePageImg/about-bg.png) right center no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 80px;

  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 12px;
    color: #46A358;
  }

  &__lists {
    display: flex;
    margin-left: calc(8.33333% + 0.9375rem);
  }

  &__list {
    width: calc(50% - 1.875rem);
    font-weight: 500;
    margin: 0 auto;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 75px;
    padding-left: 100px;
    font-size: 20px;

    & + & {
      margin-top: 24px;
  }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 75px;
      height: 75px;
      background: url(./HomePageImg/icon-advantage.svg);
      background-size: contain;
    }
  }
}

.instruction {
  position: relative;
  overflow: hidden;
  background: #F7F9FA;
  min-height: 570px;

  &:before {
    content: 'microgreen';
    position: absolute;
    left: 60px;
    bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 72px;
    color: rgba(70, 163, 88, 0.3);
}

  &:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 63px;
    background: url(./HomePageImg/logo.svg) center no-repeat;
    background-size: contain;
    right: 3%;
    top: 20px;
    opacity: .4;
    pointer-events: none;
  }

  &__container {
    display: flex;
  }

  &__info {
    padding-top: 125px;
    padding-right: 15px;
    width: calc(50% - 1.875rem);
    margin-left: 0.9375rem;  margin-right: 0.9375rem;
  }

  &__title {
    font-size: 40px;
    text-transform: uppercase;

    & span {
      font-weight: 600;
      color: #46A358;
    }
  }

  &__text {
    margin-top: 20px;
    line-height: 1.7;
    font-weight: 500;
    color: #727272;
    max-width: 80%;
  }

  &__image {
    width: calc(50% - 1.875rem);
    position: relative;
    text-align: center;
    line-height: 0;
    padding: 45px;
    padding-left: 70px;
    background: #DEE7E4;
    border-radius: 0px 0px 0px 100px;
    margin-left: 0;

    &:before {
      content: '';
      position: absolute;
      left: 100%;
      background: #DEE7E4;
      top: 0;
      bottom: 0;
      width: 300%;
  }

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  } 
}

.cartridges {
  padding: 80px 0 50px;
}

.for {
  background: rgba(96, 155, 170, 0.07);
  padding: 40px 0;

  &__container {
    display: flex;
    align-items: center;
  }

  &__advantages {
    display: flex;
    width: 65%;
  }

  &__advantage {
    position: relative;
    padding: 0 15px;  

    & + &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: rgba(70, 163, 88, 0.1);
      width: 2px;
      height: 100%;
    }

    &-image {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(70, 163, 88, 0.13);
        border-radius: 50%;
        width: 75px;
        height: 75px;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 17px;
      margin-top: 17px;
    }

    &-text {
      font-size: 14px;
      color: #727272;
      margin-top: 9px;
    }
  }

  &__info {
    padding-left: 40px;
    width: 35%;
   
    &-title {
      font-weight: 500;
      font-size: 20px;
    }

    &-text {
      font-size: 15px;
      color: #727272;
      margin: 10px 0 15px;
    }
  }
}

.upsell {
  padding: 80px 0 80px;
  margin-top: 30px;

  &__card {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(96, 155, 170, 0.07) url(./HomePageImg/circle-decor.svg) bottom left;
    background-size: auto 60%;
    background-repeat: no-repeat;
  }

  &__container {
    display: flex;
    gap: 30px;
  }

  &__image {
    width: 50%;
    text-align: center;

    & img {
      position: relative;
      top: -30px;
      right: -25px;
      max-width: 100%;
      height: 240px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    width: 60%;
    margin-left: auto;
    padding: 25px 25px 25px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 9px;
    font-size: 14px;
    color: #727272;
    margin-bottom: 25px;
  }

  & button {
    width: min-content;
    padding: 12px 30px;
    font-size: 18px;
  }
}